.btn{
    padding: .8%;
    width: 8rem;
    border-radius: 18px;
    border: none;
    margin-left: 1.5rem;
    font-size: 1rem;
    font-weight: 1000;
}
.content{
    margin-left: 6rem;
    margin-top: 4rem;
    color: white;
    
}
.description{
    width: 390px;
}
.title{
    padding-top: 14rem;
    padding-left: 6rem;
    font-size: 4rem;
    font-weight: 1000;
    color:white;

}
.descriptionDiv{
    margin-top: 3rem;
}
.btnDiv{
    margin-top: 4rem;
}
.banner{
    height: 100%;
    background-size: cover;
}
.fade{
    height: 6.4rem;
    background-image: linear-gradient(180deg,transparent,rgba(0,9,29,.7),RGB(0 9 29));
}
.titleDiv{
    width: 35%;
}